.black-card{
    background-color: #000000;
    color: var(--base-white);
    padding: .3rem .8rem;
    width: fit-content;
    margin-bottom: .5rem;

    font-family: "Courier Prime", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
}


#role-creativedev{
    margin-left: 2rem;
    margin-top: 4rem;
}

#role-frontenddev{
    margin-left: 20rem;
    margin-top: 2rem;
}

#role-uxuidev{
    margin-left: 3.5rem;
}

#role-illustrator{
    margin-left: 28rem;
    margin-top: -1rem;
}

#role-interdesigner{
    margin-left: 10rem;
    margin-top: 2rem;
}

#role-digartist{
    margin-left: 35rem;
}


/* INTERACTIONS */
.black-card::selection{
    background-color: var(--base-bright-white);
    color: #000;
}