html, body{
    cursor: url("../assets/cursors/cursor_default_96.png"), auto;
}

a{
    cursor: url("../assets/cursors/cursor_hover_96.png"), pointer;
}

h1{
    cursor: url("../assets/cursors/cursor_hover_96.png"), pointer;
}

#selected-work-heading{
    cursor: url("../assets/cursors/cursor_hover_96.png"), pointer;
}

.nav-text:active{
    cursor: url(../assets/cursors/cursor_click_32.png), pointer;
}

.socials-group a img{
    cursor: url(../assets/cursors/cursor_hover_96.png), pointer;
}


/* turned off for now because of accessibility issues */
/* 
.closing-fish-layout{
    cursor: url("/src/assets/cursors/cursor_hover_96.png"), auto;
} */