#intro-page{

}


.intro-container{
    background-color: var(--base-bright-white);

    max-width: 80rem;
    /* width: 73%; */

    margin-left: 4%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.intro-container img{
    margin-left: 68rem;
    margin-top: 3rem;

}

#intro-text p{

    font-family: "Pixelify Sans", sans-serif;
    font-size: 1.5rem;
}