/*
file: style.css

includes all the overiding default stylings, globabl styles, common components that are repeated many times in the portfolio.
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: var(--bg-color);
}

/* NAV HEADER */

#nav-header{
    padding: 1.2rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    width: 100%;

    z-index: 999;
}

#nav-header ul{
    display: flex;
    align-items: flex-start;
    gap: 5rem;
}

#nav-header ul li{
    list-style: none;
}

#nav-header ul li .nav-text{
    font-size: 2.5rem; /* 32px */
    font-family: "Bahiana",sans-serif;
    color: var(--base-red);
    text-decoration: underline wavy var(--base-pink) 6%;
    text-underline-offset: 6px;
}

#nav-header ul li a img{
    font-size: 2.5rem; /* 32px */
    font-family: "Bahiana",sans-serif;
    image-rendering: pixelated;
    height: 64px;
    margin-top: -0.5rem;
}




/* INTERACTIONS */

#nav-header ul li .nav-text:hover{
    text-decoration: underline solid var(--base-pink) 6%;
}


#noise::before{
    position:fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;

    content:"";
    opacity: .08;
    z-index: 1000;

    background: url(/src/assets/noise.gif);
    pointer-events: none;
}