/*
file: style.css

includes all the overiding default stylings, globabl styles, common components that are repeated many times in the portfolio.
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html{
    background-color: var(--bg-color);
}

/* NAV HEADER */

#nav-header{
    padding: 1.2rem 1rem;
    position: fixed; /* IMP: doesn't do anything right now */ 
    background-color: var(--bg-color);
    width: 100%;
}

#nav-header ul{
    display: flex;
    align-items: flex-start;
    gap: 3rem;
}

#nav-header ul li{
    list-style: none;
}

#nav-header ul li .nav-text{
    font-size: 2.5rem; /* 32px */
    font-family: "Bahiana",sans-serif;
    color: var(--base-red);
    text-decoration: underline wavy var(--base-pink) 6%;
    text-underline-offset: 6px;
}

#nav-header ul li a img{
    font-size: 2.5rem; /* 32px */
    font-family: "Bahiana",sans-serif;
    image-rendering: pixelated;
    height: 64px;
    margin-top: -0.5rem;
}


/* INTERACTIONS */

#nav-header ul li .nav-text:hover{
    text-decoration: underline solid var(--base-pink) 6%;
}